{% extends 'base.html' %}
{% block title %}Новый доход{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">


<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" action="{% url 'new_income' wallet_pk=wallet.id %}" class="my-4">
        {% csrf_token %}
        
        <div class="form-group">
          <label for="{{ form.amount_of_income.id_for_label }}">Сумма дохода</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">{{wallet.currency}}</span>
            </div>
            {{ form.amount_of_income }}
          </div>
        </div>
        
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Описание</span>
            {{ form.description }}
          </div>
        </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                  <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="date"/>
                  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
              $(function () {
                $('#datetimepicker1').datetimepicker({
                  format: 'YYYY-MM-DD HH:mm',
                });
              });
            </script>
          </div>
        

        <div class="form-group">
          <label for="{{ form.cathegory.id_for_label }}">Категория</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-folder"></i></span>
            </div>
            <select class="custom-select" id="{{ form.cathegory.id_for_label }}" name="{{ form.cathegory.html_name }}">
              <option selected disabled>Выберите категорию</option>
              {% for category in categories %}  <!-- Используем список категорий из контекста -->
              <option value="{{ category.id }}">{{ category }}</option>  <!-- Используем соответствующие поля категории -->
              {% endfor %}
            </select>
          </div>
        </div>
        
        
        <button type="submit" class="btn btn-primary btn-block">Отправить</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}


