<!-- Wallet.html -->
{% extends 'Base.html' %} {% block title %}Кошелек{% endblock %} 
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% block content %}
<h1>{{ wallet.name}}</h1>
<div class="row">
  <div class="col">
    <h2>Сумма в кошельке: {{ wallet.amont }} {{ wallet.currency }}</h2>
  </div>
</div>
<h2>Последние операции</h2>

<h3>Доходы</h3>
<ul>
    {% for income in incomes %}
    <li class="text-success">{{ income.date }} - {{ income.amount_of_income }} {{ wallet.currency }}</li>
    {% endfor %}
</ul>

<h3>Расходы</h3>
<ul>
    {% for expense in expenses %}
    <li class="text-danger">{{ expense.date }} - {{ expense.amount_of_outcome }} {{ wallet.currency }}</li>
    {% endfor %}
</ul>
<div class="row">
  <div class="col">
    <a href="{% url 'new_income' wallet.pk %}" class="btn btn-primary">Пополнить счет</a>
    <a href="{% url 'new_expense' wallet.pk %}" class="btn btn-danger">Потратить</a>
    <a href="{% url 'delete_wallet' wallet.pk %}" class="btn btn-danger">Удалить кошелек</a>
  </div>
</div>
{% endblock %}
