<!-- Wallet.html -->
{% extends 'Base.html' %} {% block title %}Кошелек{% endblock %} 
{% block content %}
<h1>{{ wallet.name}}</h1>
<div class="row">
  <div class="col">
    <h2>Сумма в кошельке: {{ wallet.amont }} {{ wallet.currency }}</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <a href="{% url 'new_income' wallet.pk %}" class="btn btn-primary">Пополнить счет</a>
    <a href="{% url 'new_expense' wallet.pk %}" class="btn btn-danger">Потратить</a>
  </div>
  <div class="col">
    <a href="{% url 'delete_wallet' wallet.pk %}" class="btn btn-danger">Удалить кошелек</a>
  </div>
</div>
{% endblock %}
